.faq_item {
    width: 790px;
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #252532;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--linear);
}

.faq_item_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.faq_item_question {
    width: 476px;
    font-weight: 500;
    font-size: 20px;
    color: var(--white);
}

.faq_item_action {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.faq_item_answer {
    width: 682px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 28px;
    color: var(--grey-2);
}