.about-main {
    height: fit-content;
    margin-top: -220px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("/images/about-main-bg.png") no-repeat;
    background-position: center center;
    background-size: contain;
}

.about-main-line {
    width: 1200.01px;
    height: 0;
    margin-left: 120px;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: var(--linear);
}

.about-vision {
    margin-top: 150px;
    margin-left: 120px;

    .h2-title {
        width: 550px;
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .body-one {
        width: 625px;
    }
}

.about-advantages {
    margin-top: -341px;
    padding-top: 351px;
    background: url('/images/about-advantages-bg.png');

    .h2-title {
        width: 550px;
        margin: 12px auto 0;
        text-align: center;
    }
}

.about-advantages-box {
    margin-top: 54px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 42px;
    padding-bottom: 53px;
    padding-left: 64px;
    padding-right: 63px;
    background: #252532;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
}

.about-advantages-item {
    width: 325px;

    img {
        width: 70px;
        height: 70px;
    }

    .advantages-item-title {
        margin-top: 42px;
        font-size: 20px;
    }

    .advantages-item-desc {
        margin-top: 12px;
        font-size: 14px;
        line-height: 28px;
        color: var(--grey-1);
    }
}

.about-features {
    max-height: fit-content;
    min-height: 749px;
    margin-top: 150px;
    margin-left: 111px;
    padding-top: 150px;
    padding-left: 722px;
    background: url("/images/about-features-bg.png") no-repeat;

    .h2-title {
        width: 546px;
        margin-top: 12px;
    }
}

.about-features-box {
    margin-top: 32px;
    flex-direction: column;
    gap: 48px;
}

.about-team {
    margin-top: 150px;
    margin-left: 120px;
    margin-right: 120px;

    .h2-title {
        margin-top: 12px;
    }
}

.about-team-all {
    display: block;
    align-self: flex-end;
    width: 140px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--linear);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.about-team-box {
    margin-top: 41px;

    >div {
        width: 293.04px;
        padding: 9px;

        >div {
            width: 274.48px;
            padding-top: 213.24px;
            padding-bottom: 9.12px;
            background-size: 274.48px 370.36px !important;
        }
    }
}

.about-partners {
    margin-top: 152.08px;

    .h2-title {
        margin-top: 12px;
        text-align: center;
    }
}

.about-partners-img {
    width: fit-content;
    margin: 58px auto 0;
}

.about-faq {
    margin-top: 150px;
    background: url("/images/about-faq-bg.png") no-repeat;
    background-position-x: 80%;
    background-position-y: 0;
    background-size: 30%;

    .h2-title {
        margin-top: 12px;
        text-align: center;
    }

    .body-one {
        width: 764px;
        margin: 24px auto 0;
        text-align: center;
    }
}

.about-faq-box {
    width: fit-content;
    margin: 48px auto 0;
    flex-direction: column;
    gap: 24px;
}

.about-subscribe {
    width: 1200px;
    margin-top: 150px;
    margin-bottom: 64px;
    margin-left: 120px;
    padding-top: 38px;
    padding-bottom: 31px;
    padding-left: 74px;
    padding-right: 74px;
    background: var(--linear);
    border-radius: 4px;
}

.about-subscribe-title {
    width: 520px;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -.05em;
}

.about-subscribe-fm {
    width: 365px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 2px;

    input {
        display: block;
        width: 70%;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 46px;
        background: url("/images/message.png") no-repeat;
        background-position: 0;
        border: none;
        outline: none;
        font-size: 16px;
        color: var(--white);
       
        &::placeholder {
            color: var(--white);
        }
    }

    button {
        display: block;
        width: 49px;
        height: 49px;
        background: rgba(255, 255, 255, 0.21);
        border: none;
        cursor: pointer;
        text-align: center;
    }
}