.home-main {
    margin-top: -200px;
    padding-left: 120px;
    background: url("/public/images/assets.png") no-repeat;
    background-position-y: 163px;
}

.home-main-box {
    gap: 125px;

    .body-one {
        width: 446px;
        margin-top: 12px;
    }

    >div:nth-child(1) {
        margin-top: 74px;
    }
}

.home-main-more {
    display: block;
    width: 206px;
    margin-top: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: var(--linear);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.home-main-clients {
    margin-top: 42px;
    gap: 74.66px;

    .clients-info {
        gap: 18px;
    }

    .clients-info-desc {
        display: flex;
        font-weight: 300;
        font-size: 16px;
        color: #D1D1D1;

        span {
            display: block;
            font-weight: 600;
            color: var(--white);

            &::after {
                content: '';
                display: block;
                width: 48.3px;
                height: 8.19px;
                background: url("/images/linear-line.png") no-repeat;
            }
        }
    }
}

.home-main-advantages {
    width: 1200px;
    margin-top: -4px;
    padding-top: 42px;
    padding-bottom: 53px;
    padding-left: 64px;
    gap: 50px;
    background: url("/public/images/home-main-addvantages-bg.png") no-repeat;
    
    .advantages-item {
        width: 325px;
        height: 262px;

        img {
            width: 70px;
            height: 70px;
        }

        .advantages-item-title {
            margin-top: 42px;
            font-weight: 400;
            font-size: 20px;
        }

        .advantages-item-desc {
            margin-top: 12px;
            font-size: 14px;
            line-height: 28px;
            color: var(--grey-1);
        }
    }
}

