.home-main {
    margin-top: -200px;
    padding-left: 120px;
    background: url("/images/assets.png") no-repeat;
    background-position-y: 163px;
}

.home-main-box {
    gap: 125px;

    .body-one {
        width: 446px;
        margin-top: 12px;
    }

    >div:nth-child(1) {
        margin-top: 74px;
    }
}

.home-main-more {
    display: block;
    width: 206px;
    margin-top: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: var(--linear);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.home-main-clients {
    margin-top: 42px;
    gap: 74.66px;

    .clients-info {
        gap: 18px;
    }

    .clients-info-desc {
        display: flex;
        font-weight: 300;
        font-size: 16px;
        color: #D1D1D1;

        span {
            display: block;
            font-weight: 600;
            color: var(--white);

            &::after {
                content: '';
                display: block;
                width: 48.3px;
                height: 8.19px;
                background: url("/images/linear-line.png") no-repeat;
            }
        }
    }
}

.home-main-advantages {
    width: 1200px;
    margin-top: -4px;
    padding-top: 42px;
    padding-bottom: 53px;
    padding-left: 64px;
    gap: 50px;
    background: url("images/home-main-addvantages-bg.png") no-repeat;

    .advantages-item {
        width: 325px;
        height: 262px;

        img {
            width: 70px;
            height: 70px;
        }

        .advantages-item-title {
            margin-top: 42px;
            font-weight: 400;
            font-size: 20px;
        }

        .advantages-item-desc {
            margin-top: 12px;
            font-size: 14px;
            line-height: 28px;
            color: var(--grey-1);
        }
    }
}

.home-about {
    margin-top: 120px;
    margin-left: 66px;
    gap: 69.74;

    .h2-title {
        margin-top: 12px;
    }

    .body-one {
        width: 528px;
        margin-top: 12px;
    }

    >div:nth-child(2) {
        margin-top: 81px;
    }
}

.home-about-list {
    list-style-type: none;
    margin-top: 24px;

    li {
        margin-bottom: 14px;
        padding-left: 28px;
        background: url("/images/check.png") no-repeat;
        background-position: 0;
        font-size: 16px;
        line-height: 28px;

        &:last-child {
            margin-bottom: 0;

        }
    }
}

.home-about-more {
    display: block;
    width: 168px;
    margin-top: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: var(--linear);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.home-service {
    margin-top: 150px;
    margin-left: 120px;
    background: url("/images/light.png") no-repeat right;
    background-position-y: 0;
}

.home-service-caption {
    gap: 274px;

    .h2-title {
        margin-top: 12px;
    }

    .body-one {
        width: 625px;
        align-self: flex-end;
    }
}

.home-service-box {
    margin-top: 46px;
    margin-right: 120px;
    flex-wrap: wrap;
    column-gap: 26px;

    >div:nth-child(2) {
        margin-top: 57px;
    }

    >div:nth-child(3) {
        margin-top: 135px;
    }

    >div:nth-child(4) {
        margin-top: -99px;
    }

    >div:nth-child(5) {
        margin-top: -43px;
    }

    >div:nth-child(6) {
        margin-top: 30px;
    }
}

.home-features {
    margin-top: 150px;
    margin-left: 120px;

    .h2-title {
        margin-top: 12px;
    }

    >div:nth-child(1) {
        flex-shrink: 0;
    }
}

.home-features-content {
    margin-top: 32px;
    flex-direction: column;
    gap: 48px;
}

.home-started {
    margin-top: 150px;
    margin-left: 119px;
    background: url("/images/light2.png") no-repeat;

    .h2-title {
        width: 879px;
        margin: 12px auto 48px;
        text-align: center;
    }
}

.home-started-get {
    display: block;
    width: 182px;
    margin: 48px auto 0;
    padding-top: 18px;
    padding-bottom: 18px;
    background: var(--linear);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.home-testimonial {
    height: 1247px;
    padding-top: 111px;
    margin-top: 100px;
    margin-left: 97px;
    margin-right: 96px;
    background: url("/public/images/line3.png") no-repeat;
    position: relative;

    .h2-title {
        margin-top: 12px;
        text-align: center;
    }

    .avatar-one {
        position: absolute;
        top: 321px;
        left: 23px;
    }

    .avatar-two {
        position: absolute;
        top: 259px;
        right: 410px;
    }

    .avatar-three {
        position: absolute;
        top: 602px;
        right: 136px;
    }

    .avatar-four {
        position: absolute;
        top: 867px;
        left: 576px;
    }

    .avatar-five {
        position: absolute;
        top: 916px;
        left: 165px;
    }

    .avatar-six {
        position: absolute;
        bottom: 81px;
        right: 233px;
    }
}

.home-testimonial-img {
    width: fit-content;
    margin: 80px auto 0;
}

.home-testimonial-item {
    gap: 16px;

    .testimonial-item-content {
        width: 297px;
        height: 123px;
        padding-top: 18px;
        padding-left: 23px;
        padding-right: 19px;
        background: url("/images/testimonial-item-content-bg.png") no-repeat;
        flex-shrink: 0;
        opacity: 0;
    }

    .testimonial-item-desc {
        font-size: 12px;
        line-height: 20px;
        color: var(--grey-2);
    }

    .testimonial-item-info {
        width: fit-content;
        margin-top: 8px;
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-image-source: var(--linear);
        font-size: 12px;
        line-height: 24px;
        color: var(--grey-2);

        span {
            color: var(--white);
        }
    }
}

.home-testimonial-avatar {
    width: 75px;
    height: 75px;
    background: rgba(37, 37, 50, 0.6);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-testimonial-item:hover .testimonial-item-content {
    opacity: 1;
}

.home-pricing {
    margin-top: 100px;
    margin-left: 120px;
    background: url("/images/light3.png") no-repeat;
    background-position-y: 203px;
    background-position-x: right;

    .h2-title {
        margin-top: 12px;
    }

    .body-one {
        width: 625px;
        margin-top: 16px;
    }
}

.home-pricing-content {
    width: 1200px;
    margin-top: 40px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 42px;
    background-color: rgba(37, 37, 50, 0.81);
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
}

.home-pricing-box {
    flex-direction: column;
    gap: 32px;
}

.home-pricing-item {
    width: 640px;
    gap: 16px;

    .pricing-item-title {
        font-weight: 400;
        font-size: 18px;
        color: var(--white);
    }

    .pricing-item-desc {
        margin-top: 12px;
        font-size: 16px;
        line-height: 28px;
        color: var(--grey-1);
    }
}

.home-pricing-line {
    width: 447px;
    height: 0px;
    opacity: 0.1;
    border: 1px solid var(--white);
    transform: rotate(90deg);
}

.home-pricing-info {
    width: 321px;
    margin-left: 817px;
    margin-top: -170px;
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: #252532;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--linear);
    text-align: center;

    .pricing-info-above {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--grey-1);
    }

    .pricing-info-title {
        font-weight: 600;
        font-size: 60px;
        line-height: 66px;
    }

    .pricing-info-started {
        display: block;
        width: 182px;
        margin: 14px auto 0;
        padding-top: 18px;
        padding-bottom: 18px;
        background: var(--linear);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1.5px;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
    }

    .pricing-info-note {
        margin-top: 14px;
        font-size: 12px;
        line-height: 20px;
        color: var(--grey-1);
    }
}

.home-partners {
    margin-top: 150px;

    .h2-title {
        margin-top: 12px;
        text-align: center;
    }
}

.home-partners-img {
    width: fit-content;
    margin: 58px auto 0;
}

.home-articles {
    margin-top: 150px;
    padding-left: 120px;
    height: 1058px;
    background: url("/images/home-articles-bg.png") no-repeat;

    .h2-title {
        margin-top: 12px;
    }
}

.home-articles-heading {
    gap: 228px;
}

.home-articles-all {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 18px 38px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--linear);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--white);
    align-self: flex-end;
}

.home-aticles-content {
    margin-top: 72px;
    background: url("/images/assets2.png") no-repeat;
    background-position-y: 0;
    position: relative;

    >div:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.home-articles-subtitle {
    font-weight: 600;
    font-size: 28px;
}

.home-articles-popular {
    width: 636px;
    height: 425px;
    margin-top: 32px;
    padding-top: 281px;
    padding-left: 24px;
    padding-right: 24px;
    background: url("/images/popular-article.png") no-repeat;

    .articles-popular-bage {
        width: 86px;
        height: 24px;
        padding-top: 2px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

    .articles-popular-title {
        width: 429px;
        margin-top: 14px;
        font-weight: 600;
        font-size: 32px;
        letter-spacing: -.05em;
    }

    .articles-popular-more {
        display: block;
        width: 50px;
        height: 50px;
        padding-top: 15px;
        background-color: rgba(255, 255, 255, 0.06);
        border: 0.97px solid;
        border-image-slice: 1;
        border-image-source: var(--linear);
        text-align: center;
    }
}

.home-articles-pagination {
    margin-top: 44px;
    margin-left: 278px;
    gap: 12px;

    .pagination-item {
        width: 9px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.31);
        border-radius: 32px;
    }

    .pagination-item__active {
        width: 17px;
        background-color: var(--white);
    }
}

.home-articles-recent {
    width: 710px;
    padding-top: 32px;
    padding-bottom: 103px;
    padding-left: 97px;
    background-color: #252532;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    right: 30px;

    .articles-recent-box {
        margin-top: 32px;
        flex-direction: column;
        gap: 32px;
    }

    .articles-recent-item {
        width: 513px;

        .recent-item-badge {
            width: fit-content;
            height: fit-content;
            padding: 2px 10px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 16px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
        }

        .recent-item-title {
            width: 297px;
            margin-top: 8px;
            font-weight: 400;
            font-size: 18px;
        }

        .recent-item-more {
            display: block;
            width: 40px;
            height: 40px;
            padding-top: 8px;
            background-color: rgba(255, 255, 255, 0.06);
            border: 0.74px solid;
            border-image-slice: 1;
            border-image-source: var(--linear);
            text-align: center;
        }
    }
}

.home-subscribe {
    width: 1200px;
    margin-top: -120px;
    margin-bottom: 64px;
    margin-left: 120px;
    padding-top: 38px;
    padding-bottom: 31px;
    padding-left: 74px;
    padding-right: 74px;
    background: var(--linear);
    border-radius: 4px;
}

.home-subscribe-title {
    width: 520px;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -.05em;
}

.home-subscribe-fm {
    width: 365px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 2px;

    input {
        display: block;
        width: 70%;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 46px;
        background: url("/images/message.png") no-repeat;
        background-position: 0;
        border: none;
        outline: none;
        font-size: 16px;
        color: var(--white);
       
        &::placeholder {
            color: var(--white);
        }
    }

    button {
        display: block;
        width: 49px;
        height: 49px;
        background: rgba(255, 255, 255, 0.21);
        border: none;
        cursor: pointer;
        text-align: center;
    }
}