.service-main {
    height: fit-content;
    margin-top: -220px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("/images/about-main-bg.png") no-repeat;
    background-position: center center;
    background-size: contain;
}

.service-main-line {
    width: 1200.01px;
    height: 0;
    margin-left: 120px;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: var(--linear);
}

.service-about {
    margin-top: 149.94px;
    margin-left: 120px;
    margin-right: 120px;

    .h2-title {
        margin-top: 12px;
    }

    .body-one {
        width: 625px;
    }
}

.service-about-box {
    margin-top: 46px;
    flex-wrap: wrap;
    column-gap: 26px;

    >div:nth-child(2) {
        margin-top: 57px;
    }

    >div:nth-child(3) {
        margin-top: 135px;
    }

    >div:nth-child(4) {
        margin-top: -99px;
    }

    >div:nth-child(5) {
        margin-top: -43px;
    }

    >div:nth-child(6) {
        margin-top: 30px;
    }
}

.service-facts {
    margin-top: 150.06px;
    padding-top: 59px;
    padding-bottom: 59px;
    padding-left: 273px;
    padding-right: 263px;
    background: url("/public/images/service-facts-bg.png") no-repeat;

    dl {
        text-align: center;
    }

    .h2-title {
        margin-top: 12px;
    }
}

.service-pricing {
    margin-top: 100px;
    padding-left: 120px;
    padding-right: 120px;
    background: url("/images/light6.png") no-repeat, url("/images/light5.png") no-repeat right;
   
    .h2-title {
        margin-top: 12px;
    }

    .body-one {
        width: 625px;
        margin-top: 16px;
    }
}


.service-pricing-content {
    width: 1200px;
    margin-top: 40px;
    padding-left: 42px;
    padding-top: 55px;
    padding-bottom: 55px;
    background: rgba(37, 37, 50, 0.81); 
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
}

.service-pricing-box {
    width: 640px;
    flex-direction: column;
    gap: 32px;
}

.service-pricing-item {
    width: 640px;
    gap: 16px;

    .pricing-item-title {
        font-weight: 400;
        font-size: 18px;
        color: var(--white);
    }

    .pricing-item-desc {
        margin-top: 12px;
        font-size: 16px;
        line-height: 28px;
        color: var(--grey-1);
    }
}

.service-pricing-line {
    width: 447px;
    height: 0px;
    opacity: 0.1;
    margin-left: -50px;
    border: 1px solid var(--white);
    transform: rotate(90deg);
}

.service-pricing-info {
    width: 321px;
    margin-left: 817px;
    margin-top: -170px;
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: #252532;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--linear);
    text-align: center;

    .pricing-info-above {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--grey-1);
    }

    .pricing-info-title {
        font-weight: 600;
        font-size: 60px;
        line-height: 66px;
    }

    .pricing-info-started {
        display: block;
        width: 182px;
        margin: 14px auto 0;
        padding-top: 18px;
        padding-bottom: 18px;
        background: var(--linear);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1.5px;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
    }

    .pricing-info-note {
        margin-top: 14px;
        font-size: 12px;
        line-height: 20px;
        color: var(--grey-1);
    }
}

.service-testimonial {
    height: 1247px;
    padding-top: 111px;
    margin-top: 100px;
    margin-left: 97px;
    margin-right: 96px;
    background: url("/public/images/line3.png") no-repeat;
    position: relative;

    .h2-title {
        margin-top: 12px;
        text-align: center;
    }

    .avatar-one {
        position: absolute;
        top: 321px;
        left: 23px;
    }

    .avatar-two {
        position: absolute;
        top: 259px;
        right: 410px;
    }

    .avatar-three {
        position: absolute;
        top: 602px;
        right: 136px;
    }

    .avatar-four {
        position: absolute;
        top: 867px;
        left: 576px;
    }

    .avatar-five {
        position: absolute;
        top: 916px;
        left: 165px;
    }

    .avatar-six {
        position: absolute;
        bottom: 81px;
        right: 233px;
    }
}

.service-testimonial-img {
    width: fit-content;
    margin: 80px auto 0;
}

.service-testimonial-item {
    gap: 16px;

    .testimonial-item-content {
        width: 297px;
        height: 123px;
        padding-top: 18px;
        padding-left: 23px;
        padding-right: 19px;
        background: url("/images/testimonial-item-content-bg.png") no-repeat;
        flex-shrink: 0;
        opacity: 0;
    }

    .testimonial-item-desc {
        font-size: 12px;
        line-height: 20px;
        color: var(--grey-2);
    }

    .testimonial-item-info {
        width: fit-content;
        margin-top: 8px;
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-image-source: var(--linear);
        font-size: 12px;
        line-height: 24px;
        color: var(--grey-2);

        span {
            color: var(--white);
        }
    }
}

.serice-testimonial-avatar {
    width: 75px;
    height: 75px;
    background: rgba(37, 37, 50, 0.6);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-testimonial-item:hover .testimonial-item-content {
    opacity: 1;
}

.service-subscribe {
    width: 1200px;
    margin-top: 150px;
    margin-bottom: 67px;
    margin-left: 120px;
    padding-top: 38px;
    padding-bottom: 31px;
    padding-left: 74px;
    padding-right: 74px;
    background: var(--linear);
    border-radius: 4px;
}

.service-subscribe-title {
    width: 520px;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -.05em;
}

.service-subscribe-fm {
    width: 365px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 2px;

    input {
        display: block;
        width: 70%;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 46px;
        background: url("/images/message.png") no-repeat;
        background-position: 0;
        border: none;
        outline: none;
        font-size: 16px;
        color: var(--white);
       
        &::placeholder {
            color: var(--white);
        }
    }

    button {
        display: block;
        width: 49px;
        height: 49px;
        background: rgba(255, 255, 255, 0.21);
        border: none;
        cursor: pointer;
        text-align: center;
    }
}